/* -- This specific Hack-A-Day project -- */

.search {
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

textarea.text {
    height: 500px !important;
}

.entry {
    background-color: lightblue;
    border-radius: 10px;
    padding: 15px;
    /*min-height: 300px;*/
    margin: 10px 0 30px 0;
    border: 2px solid black;
}

.word {
    font-size: larger;
    font-variant: small-caps;
}

.source {
    display: block;
    font-size: small;
    font-style: italic;
    margin-bottom: 10px;
    margin-left: 10px;
}

.definition {
    white-space: pre-wrap;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 15px;
    font-family: monospace;
}

.missing-definition {
    color: red;
}

.history {
    flex-direction: column-reverse;
    display: flex;
}
.history > li {
    flex: 0 0 auto;
}

/* -- All Hack-A-Day projects -- */
.about {
    white-space: pre-wrap;
}
.footer {
    background-color: rgba(0,0,0,0.2);
    margin-top: 20px;
}
.footer ul {
    list-style: none;
    padding-left: 5px;
}

.navbar-brand-link a {
    color: #777;
}
.navbar-brand-link a:hover {
    color: #000;
    text-decoration: none;
}
